<template>
    <div class="column is-multiline">
        <div class="card">
            <div class="card-header">
                <p class="card-header-title"> {{ nom }} </p>
            </div>
            <div class="card-content">
                <div class="content"> Prix : {{ prix }} </div>
                <button v-if="role == 'commander'" @click="$emit('commande', nom, prix)" class="button is-info">Commander !</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Produit",
    props: ["nom", "prix", "role"],
}
</script>