<!--<template>
  <div>
    <nav
      class="navbar header has-shadow is-primary"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="~assets/buefy.png" alt="Buefy" height="28" />
        </a>

        <div class="navbar-burger">
          <span />
          <span />
          <span />
        </div>
      </div>
    </nav>

    <section class="main-content columns">
      <aside class="column is-2 section">
        <p class="menu-label is-hidden-touch">General</p>
        <ul class="menu-list">
          <li v-for="(item, key) of items" :key="key">
            <nuxt-link :to="item.to" exact-active-class="is-active">
              <b-icon :icon="item.icon" /> {{ item.title }}
            </nuxt-link>
          </li>
        </ul>
      </aside>

      <div class="container column is-10">
        <nuxt />
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          title: 'Home',
          icon: 'home',
          to: { name: 'index' },
        },
        {
          title: 'Inspire',
          icon: 'lightbulb',
          to: { name: 'inspire' },
        },
        {
          title: 'CMD',
          icon: 'basket-plus-outline',
          to: { name : 'commandes'},
        },
        {
          title: 'Quizz',
          icon: 'list-status',
          to: { name: 'questionnaire'},
        }
      ],
    }
  },
}
</script>

CHANGE TO NEW DEFAULT -->

<template>
    <section>

        <b-message title="Quizz !" type="is-primary" size="is-large" :closable="false">

            <h1 class="title">Make your quizz!</h1>
            <p class="subtitle">Please select a number of questions and a category !</p>

            <form name="choice" class="choice" @submit.prevent="getQuestions">
                <b-field label="Select a question's category :">
                    <b-select placeholder="Choose" v-model="choice.category">

                        <option
                            v-for="category in categories"
                            :value="category.id"
                            :key="category.id">
                            {{ category.name }}
                        </option>
                    </b-select>
                </b-field>

                <b-field grouped label="Choose a number of questions :">
                    <b-numberinput v-model="choice.amount" type="is-primary" min="1" max="50" controls-position="compact" controls-rounded></b-numberinput>
                </b-field>

                <center>
                    <button type="submit" class="button is-primary">Get questions !</button>
                </center>
                
            </form>

        </b-message>

        <form name="result" class="result" @submit.prevent="getResults">
            <b-message title="Question !" v-if="questions.length > 0" size="is-large" type="is-primary" :closable="false">
                <div class="question" 
                    v-for="(question, key) in questions"
                    :value="question.id"
                    :key="key">

                    <h1 class="subtitle">#{{key+1 }} {{ htmlDecode(question.question) }}</h1>

                    <b-radio v-model="responses[key]"  :name="question.question" size="is-medium"
                        v-for="(answer, id) in question.answers"
                        :native-value="answer"
                        :key="id + question.question">
                        {{ htmlDecode(answer)}}
                    </b-radio>

                    <b-tag v-if="display && responses[key] == question.correct_answer" type="is-success">
                        Good answer !
                    </b-tag>

                    <b-tag v-if="display && responses [key] != question.correct_answer" type="is-danger">
                        Bad answer !
                    </b-tag>

                </div>

                <center>
                    <button type="submit" class="button is-primary">Get results !</button>

                    <b-field v-if="display">
                        {{ result }} / {{ choice.amount }}
                    </b-field>
                </center>
                
            </b-message>

        </form>
 
    </section>
</template>

<script>
import api from '@/api/open-trivia-db.js';
export default{
    data() {
        return {
            categories: {},
            questions: {},
            choice: {
                category: "Choose",
                amount: 1
            },
            responses : [],
            result : 0,
            display : false
        }
    },
    async mounted() {
        try {
            const response = await api.getCategory();
            this.categories = response.data.trivia_categories;
        } catch (err) {
            throw err;
        }
    },
    methods: {
        async getQuestions() {
            this.questions = {};
            this.responses = [];
            this.display = false;
            const response = await api.getQuestion(this.choice.amount.toString(), this.choice.category)
            this.questions = response.data.results;
            for (let i = 0 ; i < this.questions.length ; i++) {
				this.questions[i].answers = this.questions[i].incorrect_answers;
				this.questions[i].answers.push(this.questions[i].correct_answer);
			    // Shuffle
				this.questions[i].answers.sort(() => Math.random() - 0.5);
			}
        },
        htmlDecode(str) {
			// Escaping
			return new DOMParser().parseFromString(str, "text/html").documentElement.textContent;
		},
        getResults() {
            this.result = 0;
            this.display = true;
            for (let i = 0 ; i < this.responses.length ; i++) {
                if (this.responses[i] == this.questions[i].correct_answer) {
                    this.result++;
                }
            }
        }
    }
}
</script>