<template>
    <div>

        <p class="title">Commander</p>
        <p class="subtitle">Produits disponibles</p>

        <div class="columns">
            <Produit v-for="produit in produits" role="commander" v-bind:nom="produit.nom" v-bind:prix="produit.prix" v-bind:key="produit.id" v-on:commande="ajouterProduit"/>
        </div>

        <p v-if="commandes.length > 0" class="subtitle">Produits commandés</p>

        <div class="columns">
            <Produit v-for="produit in commandes" role="affichage" v-bind:nom="produit.nom" v-bind:prix="produit.prix" v-bind:key="produit.id"/>
        </div>

    </div>
</template>

<script>
import Produit from '@/components/Produit.vue'
export default {
    components: {
        Produit
    },
    data(){
        return {
            produits: [
                { nom: 'Pizza', prix: 3.0 },
                { nom: 'Frites', prix: 2.0 },
                { nom: 'Hamburger', prix: 2.5 },
                { nom: 'Cheeseburger', prix: 3.0 }
            ],
            commandes: []
        }
    },
    methods: {
        ajouterProduit(nom, prix){
            this.commandes.push({nom: nom, prix: prix})
        }
    }
}
</script>

<style scoped>
</style>
